/* TmpOut-Style Layout */
body {
    background-color: #000;
    color: #fff;
    /* This creates that narrow column in the middle of the screen */
    max-width: 750px; 
    margin: 60px auto; 
    padding: 20px;
    
    /* Font matching the 'PT_NOTE' screenshot */
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

/* Red links like the screenshot */
a { color: #ff0000; text-decoration: none; }
a:hover { background: #ff0000; color: #fff; }

/* For the code snippets (like getdents64) */
pre {
    border-left: 1px solid #333;
    padding-left: 15px;
    margin: 20px 0;
    color: #fff; 
}
